*,
*::after,
*::before {
  box-sizing: border-box;
}


html,
body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  background-image: url('../img/bgc.jpg');
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: 1.4em;
}

:root {
  --text-size-medium: 1.6rem;
}

.header,
.main,
.modal {
  font-size: var(--text-size-medium);
}

.flex__space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1.5em;
}

.button {
  padding: 1rem 3rem;
  border-radius: 30rem;
  line-height: 1.5em;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  padding: 4rem 8rem 4rem 11rem;
  z-index: 10;
}

.header__nav {
  margin-right: 6.5rem;
}

.header__logo {
  display: block;
  width: 4rem;
  height: 4rem;
}

.header__nav a:not(:last-child) {
  margin-right: 7.1rem;
}

.header__button {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}


.main-display__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 92%, rgba(0, 0, 0, 0));
}

.main-display .container {
  position: relative;
  z-index: 10;
  padding-bottom: 22.8rem;
}

.main-display__header {
  margin: 27rem 0 5rem;
  max-width: 70rem;
}

.main-display__timer {
  display: flex;
  padding-bottom: 7.6rem;
}

.main-display__button,
.assembly__button,
.modal__button {
  font-weight: bold;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.timer__item {
  margin-right: 3rem;
  width: 10.2rem;
  height: 11.2rem;

  background-color: #121212;
}

.timer__text {
  line-height: 1.4em;
  opacity: .4;
}


.work {
  padding: 20rem 0;
}

.work__wrap {
  align-items: start;
}

.work__img {
  width: 52.6rem;
  height: 54.2rem;
}

.work__description {
  padding-top: 6.9rem;
}

.work__header {
  margin-bottom: 4.5rem;
}

.work__text {
  max-width: 63.6rem;
}


.process {
  position: relative;
  padding-bottom: 20rem;
}

.process__description,
.process__text {
  opacity: .5;
}

.process__title {
  display: flex;
  align-items: flex-end;

  margin-bottom: 5rem;
}

.process__img {
  width: 7.7rem;
  height: 7.7rem;
  margin: 0 4rem 0 1.2rem;
  transform: rotate(-45deg) translateY(-.7rem);
}

.process .process__img {
  transform: rotate(0);
}

.process__description {
  max-width: 41.1rem;
  margin-bottom: 8rem;
}

.process__columns {
  display: flex;
}

.process__item::after {
  content: '';
  display: block;
  width: 32.4rem;
  height: .2rem;
  position: absolute;
  top: 33rem;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.process__item:nth-child(2n)::after {
  background: linear-gradient(94.26deg, #7C6AFA 9.51%, #C89AFC 90.23%);
}

.process__item {
  width: 32.4rem;
}

.process__text {
  margin-top: 6.5rem;
  width: 30.6rem;
  font-size: 1.4rem;
}


.command {
  padding-bottom: 20rem;
}

.command__wrap {
  margin-top: 11.3rem;
}

.command__worker {
  width: 41.6rem;
}

.command__link {
  border: .1rem solid #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
}

.command__photo {
  width: 19rem;
  height: 19rem;
  margin-bottom: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.command__photo img {
  object-fit: cover;
  object-position: center 0;
}

.command__work {
  margin: 1.5rem 0 3rem;
  line-height: 1.6em;
  opacity: .8;
}

.assembly {
  padding-bottom: 24.4rem;
}

.assembly__description {
  margin: 3rem 0 4.5rem;
  opacity: .5;
}

.assembly__socials {
  margin-top: 4.1rem;
  display: flex;
}

.assembly .socials__link:not(:last-child) {
  margin-right: 3rem;
}


.socials__link {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.socials__img {
  width: 2.4rem;
  height: 2.4rem;
}

.modal {
  display: flex;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10;
  padding: 3rem 0;
  background: rgba(0, 0, 0, .8);
}

.modal__inner {
  position: relative;
  padding: 9rem 9.4rem;
  background: #2C2C2C;
  text-align: center;
}

.modal__description {
  margin: 1rem 0 2.8rem;
  opacity: .5;
}

.modal__input:not(:last-child) {
  margin-bottom: 1.6rem;
}

.modal__elements {
  margin-bottom: 3.2rem;
}

.modal__input {
  width: 45.4rem;
  height: 4.4rem;
  border-radius: 5rem;
  overflow: hidden;
}

.modal__close {
  position: absolute;
  top: 3rem;
  right: 3.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.input input {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .25);
  padding-left: 3rem;
}

.input input::placeholder {
  font-size: 1.4rem;
  line-height: 1.6em;
  color: #FFF;
  opacity: .8;
}

.hidden {
  display: none;
}

.noscroll {
  overflow: hidden;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 20px;
  bottom: 0;
}