*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  color: #FFFFFF;
  background-image: url('../img/bgc.jpg');
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: 140%;
}

.button {
  padding: 1rem 3rem;
  border-radius: 30rem;
  line-height: 1.5em;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.6rem;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  padding: 4rem 8rem 4rem 11rem;
  z-index: 10;
}

.header,
.main {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  margin-right: 6.5rem;
}

.header__logo {
  display: block;
  width: 4rem;
  height: 4rem;
}

.header__nav a:not(:last-child) {
  margin-right: 7.1rem;
}

.header__button {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}


.main-display__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-display .container {
  position: relative;
  z-index: 10;
  padding-bottom: 22.8rem;
}

.main-display__header {
  margin: 27rem 0 5rem;
  max-width: 70rem;
}

.main-display__timer {
  padding-bottom: 7.6rem;
}

.main-display__button {
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.main-display__timer,
.timer__item {
  display: flex;
}

.timer__item {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 3rem;
  width: 10.2rem;
  height: 11.2rem;

  background-color: #121212;
}

.timer__text {
  line-height: 1.4em;
  opacity: .4;
}


.work {
  padding: 20rem 0;
}

.work__wrap {
  display: flex;
  justify-content: space-between;
}

.work__img {
  width: 52.6rem;
  height: 54.2rem;
}

.work__description {
  padding-top: 6.9rem;
}

.work__header {
  margin-bottom: 4.5rem;
}

.work__text {
  max-width: 63.6rem;
  line-height: 1.6em;
}


.process {
  position: relative;
  padding-bottom: 20rem;
}

.process__description,
.process__text {
  line-height: 1.6em;
  opacity: .5;
}

.process__title {
  display: flex;
  align-items: flex-end;

  margin-bottom: 5rem;
}

.process__img {
  width: 7.7rem;
  height: 7.7rem;
  margin: 0 4rem 0 1.2rem;
}

.process__description {
  max-width: 41.1rem;
  margin-bottom: 8rem;
}

.process__columns {
  display: flex;
  justify-content: space-between;
}

.process__columns::after {
  content: '';
  display: block;
  width: 129.6rem;
  height: .2rem;
  position: absolute;
  top: 33rem;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.process__item {
  width: 32.4rem;
}

.process__text {
  margin-top: 6.5rem;
  width: 30.6rem;
  font-size: 1.4rem;
}